@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.cdnfonts.com/css/unlearned");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

:root {
  --bg: rgb(222, 222, 222);
  --bg:rgb(246, 246, 250);
  --card-bg: white;
  --txt1: black;
  --txt2: rgb(71, 71, 71);
  --nav-bg: rgba(255, 255, 255, 0.813);
  --lin-bg1: aquamarine;
  --lin-bg2: rgb(240, 83, 203);
  --lin-bg3: rgb(119, 90, 212);
  --card2-bg:rgba(255, 255, 255, 0.372);
  --card-bd:gainsboro;
}

:root {
  --bg: rgb(11, 11, 11);
  --card-bg: rgb(15, 15, 23);
  --txt1: white;
  --txt2: rgb(205, 205, 205);
  --nav-bg: rgba(0, 0, 0, 0.651);
  --lin-bg1: rgb(0, 97, 65);
  --lin-bg2: rgb(59, 0, 99);
  --lin-bg3: rgb(35, 27, 60);
  --card2-bg:rgba(255, 255, 255, 0.041);
  --card-bd:rgb(38, 40, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gt;
  color: var(--txt2);
}

body,
html {
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--txt1);
  position: relative;
  min-height: 100vh;
}

@font-face {
  font-family: acorn;
  src: url(../fonts/acorn.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: gt;
  src: url(../fonts/gt.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

nav {
  /* width: 50%; */
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: 60px;
  border-radius: 50px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
  z-index: 100;
}


nav .logo {
  font-family: "Unlearned BRK", sans-serif;
  color: var(--txt1);
  font-size: 35px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  z-index: 2;
}

nav .mobile_icon {
  display: none;
  color: var(--txt1);
  font-size: 28px;
}

nav ul a {
  text-decoration: none;
  color: var(--txt1);
  padding: 10px 20px;
  border-radius: 50px;
}

nav ul a.active {
  color: white;
  background-color: #7950f2;
}

nav .theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7950f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

nav .theme-icon i {
  font-size: 19px;
  position: absolute;
  transition: 0.3s ease-in-out;
  color: white;
}

nav .theme-icon .fa-moon {
  transform: translateX(-50px);
}

nav .theme-icon .fa-sun {
  transform: translateX(0px);
}

nav .theme-icon.dark .fa-sun {
  transform: translateX(50px);
}

nav .theme-icon.dark .fa-moon {
  transform: translateX(0px);
}



.background_linear {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  filter: blur(120px);
  top: 0;
  z-index: 0;
}

.background_linear div {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.background_linear div:nth-child(1) {
  background-color: var(--lin-bg1);
}

.background_linear div:nth-last-child(1) {
  background-color: var(--lin-bg2);
}

.background_linear div:nth-last-child(2) {
  background-color: var(--lin-bg3);
  width: 400px;
  height: 200px;
}

.hero_section {
  position: relative;
  padding: 170px 0;
  /* min-height: 100vh; */
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 16%);
  max-width: 900px;
  margin: 0px auto;
}

.hero_section .text {
  max-width: 900px;
  z-index: 30;
  position: relative;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.hero_section .text h1 {
  font-family: acorn;
  font-size: 60px;
  color: var(--txt1);
  /* color: white; */
}

.hero_section .text p {
  /* max-width: 480px; */
  font-size: 20px;
  /* color: white; */
  line-height: 1.4;
}

.hero_section .text button {
  background-color: #7950f2;
  border: none;
  margin-top: 20px;
  width: 250px;
  height: 60px;
  font-size: 18px;
  color: white;
  border-radius: 50px;
}

.hero_section .element_3_container {
  min-width: 300px;
}

.hero_section .element_3_container .card{
  padding:20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
  background-color: var(--card2-bg);
  border: 1px solid var(--card-bd);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero_section .element_3_container .card p{
  font-size: 20px;
}

.hero_section .element_3_container .card i{
  font-size: 25px;
  color: green;
}

.hero_section .element_3_container .card:nth-child(2){
  transform: translateX(50px);
}

.hero_section .element_3_container .card:nth-child(3){
  transform: translateX(100px);
}

.project_section {
  padding: 70px 0;
  padding-top: 10px;
  margin: 0 auto;
  width: calc(100% - 16%);
  max-width: 900px;
}

.project_section h1 {
  font-family: acorn;
  font-size: 60px;
  color: var(--txt1);
}

.project_section .container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;  
}

.project_section .container .card {
  max-width: 900px;
  min-height: 400px;
  background-color: var(--card-bg);
  /* box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.151); */
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
  flex-direction: column-reverse;
}

.project_section .container .card:hover img{
  transform: scale(1);
}

.project_section .container .card:nth-child(1) .text button {
  background-color: #7950f2;
}

.project_section .container .card:nth-of-type(even) {
  /* flex-direction: row-reverse; */
}

.project_section .container .card .text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.project_section .container .card .text h2 {
  font-size: 40px;
  font-family: acorn;
  color: var(--txt1);
}

.project_section .container .card .text p {
  font-size: 20px;
}

.project_section .container .card .text button {
  margin-top: 40px;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 50px;
  background-color: rgb(244, 82, 136);
  color: white;
}

.project_section .container .card .card_img_container {
  height: 300px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_section .container .card img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  object-fit: contain;
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

.project_section .container .card .text {
  padding: 30px;
}

.skills_section {
  padding: 70px 0;
  padding-top: 10px;
  margin: 0 auto;
  width: calc(100% - 16%);
  max-width: 900px;
}

.skills_section h1 {
  font-family: acorn;
  font-size: 60px;
  color: var(--txt1);
}

.skills_section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.skills_section .container .card {
  background-color: var(--card-bg);
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  /* border: 1px solid var(--card-bd);
  border: 1px solid rgb(26, 32, 49); */
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.075); */
}

.skills_section .container .card img {
  width: 40px;
}

.skills_section .container .card h2 {
  font-size: 22px;
  color: var(--txt1);
}

.footer_wrapper {
  overflow: hidden;
}

footer {
  padding-top: 30px;
  padding-bottom: 90px;
  margin: 0 auto;
  width: calc(100% - 16%);
  max-width: 900px;
  position: relative;
}

.footer_gradient {
  display: flex;
  position: absolute;
  bottom: 0px;
  filter: blur(130px);
  overflow: hidden;
}
.footer_gradient .box {
  width: 300px;
  height: 200px;
  background-color: royalblue;
  transform: translateY(200px);
}

.footer_gradient .box:nth-child(2) {
  background-color: rgb(222, 169, 91);
}

.footer_gradient .box:nth-child(3) {
  background-color: aquamarine;
}

footer h1 {
  font-family: acorn;
  font-size: 60px;
  margin-bottom: 10px;
  z-index: 3;
  position: relative;
  color: var(--txt1);
}

footer p {
  font-size: 20px;
  line-height: 1.4;
  z-index: 3;
  position: relative;
}

footer button {
  border: none;
  padding: 16px 60px;
  font-size: 18px;
  border-radius: 50px;
  background-color: rgb(244, 82, 136);
  color: white;
}

footer .bottom_container {
  display: grid;
  justify-content: space-between;
  /* align-items: center; */
  gap: 30px;
  margin-top: 30px;
  z-index: 3;
  position: relative;
  bordercolor: rgb(238, 238, 238);
}

footer .social_container {
  list-style: none;
}
footer .social_container li {
  margin-bottom: 15px;
}

footer .social_container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--txt1);
  font-size: 20px;
}

footer .social_container i {
  font-size: 32px;
}

@media screen and (max-width: 1200px) {
  .hero_section .text h1,
  .project_section h1,
  .skills_section h1,
  footer h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 930px) {
  .hero_section {
    /* flex-direction: column-reverse; */
    /* align-items: flex-start; */
    justify-content: flex-start;
    /* padding-left: 8%; */
    padding-right: 8%;
  }
  .img_container img:nth-child(1) {
    transform: translateX(-100px);
    min-width: 100%;
  }
  .hero_section .text {
    transform: translateX(0%);
  }
  .hero_section .text p {
    max-width: 85vw;
  }
}

@media screen and (max-width: 840px) {
  .hero_section {
    flex-direction: column-reverse;
    padding-bottom: 50px;
    padding-left: 7% !important;
    padding-right: 5%;
    width: 100%;
  }
  .hero_section .element_3_container {
    width: 100%;
    gap: 9;
    /* display: none; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;
    gap: 20px;
  }
  .hero_section .element_3_container .card{
    transform: translate(0) !important;
    margin: 0;
    padding:15px;
  }

  .hero_section .element_3_container .card p{
    font-size: 16px;
  }

  .hero_section .element_3_container .card i{
    font-size: 20px;
  }

  nav {
    justify-content: space-between;
  }
  .project_section,
  .skills_section {
    padding-bottom: 0px;
  }
  footer {
    margin-top: 30px;
  }
  .project_section .container {
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
  .project_section .container .card {
    height: max-content;
  }
  .project_section .container .card .card_img_container {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  .project_section .container .card img {
    /* min-width: 500px; */
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
  .skills_section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .hero_section .text h1,
  .project_section h1,
  .skills_section h1,
  footer h1 {
    font-size: 40px;
  }
  .hero_section .text {
    width: 100%;
    min-width: 100%;
  }
  .hero_section .text p {
    width: 85vw;
  }

  .img_container img:nth-child(1) {
    transform: translateX(-20%);
    min-width: 100%;
    width: 500px;
  }

  .project_section .container {
    margin-top: 20px;
  }

  .project_section .container .card .text h2 {
    font-size: 25px;
  }
  .project_section .container .card .text p {
    font-size: 18px;
  }

  .skills_section {
    padding-top: 20px;
  }

  .skills_section .container {
    margin-top: 10px;
  }
  .skills_section .container .card img {
    width: 40px;
  }
  .skills_section .container .card h2 {
    font-size: 20px;
  }
  footer p {
    font-size: 18px;
  }
  footer .bottom_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  footer .social_container {
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .hero_section .element_3_container{
    grid-template-columns: repeat(2,1fr);
  }
  .hero_section{
    gap: 0;
    padding-top: 120px;
  }
  .hero_section .element_container {
    transform: translateX(0);
  }
  .hero_section .element_container .element_content .big_box {
    width: 260px;
    height: 160px;
  }
  .hero_section .element_container .element_content .min_box {
    width: 60px;
    height: 60px;
  }

  @keyframes scaleInAnimation2 {
    from {
      transform: scale(0.1);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(-20px);
      opacity: 1;
    }
  }

  .hero_section .element_container .element_content .big_box::before,
  .hero_section .element_container .element_content .big_box::after {
    width: 80px;
    height: 80px;
  }

  .hero_section .element_container .element_content .big_box::after{
    left: -20px;
    top: -20px;
  }

  .hero_section .element_container .element_content .big_box::before{
    bottom: -20px !important;
    right: -20px !important;
  }

  .project_section .container .card img {
    width: 100%;
  }

  .hero_section .text h1,
  .project_section h1,
  .skills_section h1,
  footer h1 {
    font-size: 37px;
  }

  .hero_section .text p {
    font-size: 18px;
  }

  .project_section .container .card .card_img_container {
    height: 250px;
    overflow: hidden;
  }

  .project_section .container .card img {
    width: max-content;
    height: 600px;
    object-fit: cover;
    transform: scale(0.5);
  }

  .skills_section .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_section .container .card{
    padding: 16px;
  }

  .skills_section .container .card img {
    width: 30px;
  }
  .skills_section .container .card h2 {
    font-size: 18px;
  }
}
